<div class="card text-center card-product">
  <div class="card-product__img">
    <img class="card-img" src="{{product.image}}" alt="{{product.name}}" />
    <ul class="card-product__imgOverlay">
      <li>
        <button><i class="ti-search"></i></button>
      </li>
      <li>
        <button type="button" data-id="{{product.id}}" class="add_to_cart">
          <i class="ti-shopping-cart"></i>
        </button>
      </li>
      <li>
        <button><i class="ti-heart"></i></button>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <p>{{product.category}}</p>
    <h4 class="card-product__title">
      <a href="{{product.id}}">{{product.name}}</a>
    </h4>
    <p class="card-product__price">${{product.price}}</p>
  </div>
</div>
